<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1>Depoimento</h1>
      <hr>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3><%= @testimony.title %></h3>
      <hr>
      <div class="content">
        <%= raw @testimony.testimony %>
      </div>
    </div>
  </div>
</div>